<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Static Website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"requestClass": "is-loading"}' />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    <section class="section is-small">
      <div class="container">
        <h1 class="title">My Todos</h1>
      </div>
    </section>
    <div class="content is-large">
      <div class="columns">
        <div class="column">
          <ul id="todo-list">
            {{ range .Todos }} {{ block "todo-list-item" .}}
            <li>{{ .Title }} - {{ .Description }}</li>
            {{ end }} {{ end }}
          </ul>
        </div>
        <div class="column is-one-third">
          <form
            hx-post="/todos"
            hx-target="#todo-list"
            hx-swap="beforeend"
            hx-indicator="#submit"
          >
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input
                  class="input"
                  name="title"
                  type="text"
                  placeholder="Text input"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea
                  class="textarea"
                  name="description"
                  placeholder="Textarea"
                ></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button id="submit" class="button is-link">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
